* {
    box-sizing: border-box;
    overflow: hidden;
}

.header {
    width: 1024px;
    height: 65px;
    /* background-color: aqua; */
    border: 1px black solid;
    margin-top: 2px;
    margin: auto;

    border-bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header>img {
    width: 994px;
    height: 60px;
}

.container {
    width: 1024px;
    height: calc(768px - 65px - 20px);
    /* background-color: beige; */
    margin: auto;

    display: flex;
    flex-direction: row;
}

.aside {
    width: 215px;
    height: calc(768px - 65px - 20px);
    /* background-color: blueviolet; */

    display: flex;
    flex-direction: column;
}

.aside>.aside-section {
    width: 215px;
    height: calc(100% - 25px);
    /* background-color: lightskyblue; */
    border: 1px black solid;
    border-bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.aside-section>.title {
    font-family: '標楷體';
    font-weight: 500;
    font-size: 24px;
    border-bottom: 1px black solid;
    color: #FF00FF;
    text-align: center;
    margin-top: 8px;
    padding-bottom: 10px;
}

.aside-section>.box {
    width: 200px;
    height: 35px;
    font-family: '標楷體';
    font-size: 16px;
    color: #000000;
    margin-top: 8px;
    padding-bottom: 10px;
    background-image: url('../17300-104301/images/menu1.png');
    padding-top: 8px;
    text-align: center;
}

.aside-section>.box:hover{
    background-image: url('../17300-104301/images/menu2.png');
}

.aside>.aside-footer {
    width: 215px;
    height: 25px;
    /* background-color: lightgoldenrodyellow; */

    border: 1px black solid;
    font-family: '標楷體';
    color:#000000;
    text-align: center;
    font-size: 16px;
}

.main {
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px);
    /* background-color: lightsalmon; */

    display: flex;
    flex-direction: column;
}

.main>.main-header {
    width: calc(1024px - 215px);
    height: 29px;
    /* background-color: aquamarine; */
    border: 1px black solid;
    border-left: 0;
    border-bottom: 0;
}

.main-header>.marquee {
    width: 770px;
    height: 29px;
    color: #0000FF;
    font-family: '標楷體';
    font-size: 24px;
    padding-top: 2px;
}

.main>.main-section {
    width: calc(1024px - 215px);
    height: calc(100% - 29px);
    /* background-color: azure; */
    border: 1px black solid;
    border-left: 0;
}

.footer {
    width: 1024px;
    height: 20px;
    /* background-color: bisque; */
    margin: auto;
    border: 1px black solid;
    border-top: 0;
}