* {
    box-sizing: border-box;
    overflow: hidden;
}

.header {
    width: 1024px;
    height: 65px;
    /* background-color: lightskyblue; */
    margin: auto;
    border: 1px black solid;
    border-bottom: 0;
}

.container {
    width: 1024px;
    height: calc(768px - 65px - 20px);
    /* background-color: aqua; */
    margin: auto;

    display: flex;
    flex-direction: row;
}

.aside {
    width: 215px;
    height: calc(768px - 65px - 20px);
    /* background-color: blueviolet; */

    display: flex;
    flex-direction: column;
}

.aside-header {
    width: 215px;
    flex-basis: calc(100% - 25px);
    /* background-color: blanchedalmond; */
    border: 1px black solid;
    border-right: 0;
    border-bottom: 0;
}

.aside-footer {
    width: 215px;
    flex-basis: 25px;
    /* background-color: lightskyblue; */
    border: 1px black solid;
    border-right: 0;
}

.main {
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px);
    /* background-color: lightblue; */

    display: flex;
    flex-direction: column;
}

.main-header {
    /* width: calc(1024px - 215px); */
    /* height:29px; */
    flex-basis: 29px;
    /* background-color: lightgreen; */
    border: 1px black solid;
    border-bottom: 0;
}

.main-section {
    /* width: calc(1024px - 215px); */
    flex-basis: calc(768px - 29px);
    /* background-color: lightpink; */
    border: 1px black solid;
}


.footer {
    width: 1024px;
    height: 20px;
    /* background-color: lightgray; */
    margin: auto;
    border: 1px black solid;
    border-top: 0;
}